* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Copilot_20250801_151334.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-size: 14pt;
    color: black;
}

header {
    height: 20%;
}

.container {
    background-color: rgba(105, 100, 100, 0.517);
    border: 2px solid;
    width: 80%;
    max-width: 700px;
    height: 70vh;
    margin: 0 auto;
}

#listForm {
    border: inherit;
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: 85%;
    align-items: center;
    margin: 0 auto;
    gap: 10px
}

#listForm label {
    font-size: 1.5rem;
}


#listForm input {
    border: 1px solid black;
    border-radius: 8px;
    height: 50px;
    width: 400px;
}

#listForm button {
    background-color: rgb(17, 153, 5);
    border: 1px solid black;
    color: white;
    border-radius: 8px;
    width: 80px;
    height: 50px;
}
.output {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    width: 80%;
    height: 60%;
    overflow-y: auto;
    margin: 20px auto;
    padding: 20px;
}

.output ul, li {
    text-decoration: none;
    list-style: none;
}

li {
    border: 1px solid rgb(169, 176, 178);
    border-radius: 8px;
    background-color: rgb(169, 176, 178);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
}

li span {
    color: rgb(35, 34, 34);
    font-size: 2rem;
}

li button {
    background-color: rgba(195, 26, 26, 0.829);
    width: 80px;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 8px;
}
