body {
    /* border: 1px solid black; */
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: grid;
    grid-template-areas: 
        'header header header'
        'sidebar main news'
        'footer footer footer'
    ;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
    padding: 20px;
    max-width: 100vw;
    margin: auto;
    border: 1px solid black
}

header {
    grid-area: header;
    /* border: inherit; */
    background-color: #005f73;
    color: white;
    font-size: 2.0rem;
    text-align: center;
}

nav {
    /* border: inherit; */
    grid-area: sidebar;
    background-color: #ccc;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    border-bottom: 1px solid #9f9e9e;
    
}

nav ul li a{
    text-decoration: none;
    color:inherit;
    font-weight: bold;
}

main {
   /* border: inherit; */
    grid-area: main;
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 5px;
}

aside {
    /* border: inherit; */
    grid-area: news;
    background-color: #ccc;
    padding: 20px;
}

aside ul {
    list-style: none;
    padding: 0;
}

footer {
    border: inherit;
    grid-area: footer;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
            'header'
            'sidebar'
            'main'
            'aside'
            'footer'
        ;
        grid-template-columns: 1fr;
    }
}