* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    border: 1px solid black;
    display: grid;
    height: 100%;
    grid-template-areas: 
    'header header header'
    'aside main main'
    'footer footer footer'
    ;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

header {
    border: inherit;
    grid-area: header;
    
}
aside {
    border: inherit;
    grid-area: aside;
}

main {
    border: inherit;
    grid-area: main;
    padding: 20px;
    
}

h2 {
    text-decoration: underline;
    font-size: 3rem;
}

.destaque {
    font-style: italic;
    background-color: gray;
    padding: 2px;
    color: white;
    border-radius: 8px;
}

.main-news {
    margin: 20px 0;
    width: 80%;
}

.code {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.import {
    color:blueviolet;
    font-weight: bold;
}

.nameFunction {
    color: green;
    font-weight: bold;
}

footer {
    border: inherit;
    grid-area: footer;
    
}