html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    font-size: 22pt;
    background-color: #12182e;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

header {
    background-image: url(pexels.jpg);
    background-size: cover;
    /* border: 1px solid rgb(67, 26, 214); */
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    /* justify-content: ; */
}

header img {
    /* border: 1px solid rgb(233, 233, 235); */
    width: 300px;
    padding: 0;

}


nav {
    /* background-color: rgba(240, 248, 255, 0.262); */
    font-size: 14pt;
    display: flex;
    justify-content: end;
    gap: 15px;
    /* border: 1px solid red; */
    text-decoration: none;
    padding: 20px;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

nav a {
    color: white;
}

figure {
    text-align: center;
}

.title {
    /* background-color: rgba(240, 248, 255, 0.262); */
    width: 100%;
    /* border-radius: 15px; */
    text-align: center;
    height: 100px;
    display: row;
    flex-direction: column;
    justify-content: center;
}
h1 {
    /* border: 1px solid rgb(107, 165, 6); */
    color: #253675;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    font-size: 48px;
}
#sec-text {
    background-color: aliceblue;
    border-radius: 8px;
    margin: 0 auto;
    width: 70%;
    min-width: 500px;
}
.text-countainer{
    /* border: 2px solid brown; */
    background-color: #12182e3a;
    min-width: 500px;
    text-align: justify;
    padding: 30px;
    margin: 0 20px;
}

.text-countainer h2 {
    font-weight: bold;
    text-align: center;
    /* border: 1px solid black; */
}

.text-countainer img {
    width: 350px;
    /* border: 1px solid black; */
}

.text-countainer-head {
    /* border: 1px solid rgb(207, 13, 13); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px
}

.text-countainer h3 {
    text-align: center;
    font-weight: bold;
    color: rgb(4, 4, 137);
    margin-top: 25px;
}

.text-countainer p {
    font-size: 14pt;
    line-height: 1.8;
}





#sec-galery {
    /* background-color: aliceblue; */
    /* border: 2px solid rgb(0, 255, 21); */
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.galery {
    background-color: aliceblue;
    width: 70%;
    /* border: 2px solid blue; */
    /* border-radius: 15px; */
    
}

.photos {
    
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 5 px;
}

.photos img {
    
    
    /* width: calc(50% - 5px); */
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;

}

.photos img:hover {
    transform: scale(1.05);
}

