
:root {
    --color-primary: rgb(50, 54, 70);

}
* {
    margin:0;
    padding: 0;
    text-decoration: none;
    
}

body {
    
    height: 100vh;
    width: 100vw;
    font-size: 14pt;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas:
    'header header header'
    'list main aside'
    'footer footer footer';

    grid-template-columns: 1fr 3fr 1fr;
    gap:20px
}

header {
    /* border: 1px solid red; */
    grid-area: header;
    background-color: var(--color-primary);
    height: 20vh;
    margin-bottom: 20px;
}

.top-bar {
    /* border: inherit; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.top-bar img {
    /* border: inherit; */
    width: 300px;
}

nav {
    display: flex;
    /* border: 1px solid white; */
    gap: 15px;
    margin: 20px 20px;
    height: 30px;
    
}

nav a{
    
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    
}

aside section ul {
    /* border: 1px solid; */
    margin-bottom: 20px;
    list-style-type: none;
    font-size: 1.4rem;
   
}

aside section ul a{
    color: var(--color-primary);
    font-weight: bold;
    transition: transform 0.3s ease;
    display: inline-block;
    width: 80%;
    border-radius: 8px;
    padding: 5px;
}

aside section ul a:hover {
    color: rgb(253, 253, 253);
    transform: scale(1.2);
    background-color: var(--color-primary);
}

aside {
    grid-area: aside;
    /* border: 1px solid; */
    padding: 20px;
    /* background-color: brown; */
}

.recent-news {
    /* border: 1px solid black; */
    transition: transform 0.3s ease;
    display: inline-block;
    gap: 15px;
    margin: 20px 20px;
}

.recent-news:hover {
    transform: scale(1.2);
}



section h3 {
    color: rgb(119, 18, 18);
    font-size: 2rem;
}
section a{
    color: var(--color-primary);
}

main {
    grid-area:main;
    padding: 20px;
    /* background-color: aqua; */
}
.news {
    /* border: 1px solid red; */
    display: flex;
    margin: 20px;
    
}

.news img {
    max-width: 500px;
    border-radius: 8px;
}

.news h2 {
    font-size: 3rem;
}

.news p {
    font-size: 1.5rem;
}

.news button {
    background-color: var(--color-primary);
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    margin: 20px;
    font-size: 1.5rem;

}

.news-text {
    /* border: 1px solid red; */
    padding: 10px;
    
}

footer {
    grid-area: footer;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
}