:root {
    --primary-color: #0F172A;
    --secondary-color: #162340;
    --buttom-color: #10338b;

    --primary-text-color: whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.8;
    color: var(--primary-text-color);

}

nav {
    border: 1px solid white;
    display: flex;
    
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 0 40px 0 10px;
    height: 80px;
    width: 100%;
}

nav span a {
    
    color: var(--primary-text-color);
}
header {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;


}


.apresentacao {
    border: 1px solid white;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.apresentacao img {
    width: 243px;
    border-radius: 50%;
    padding: 20px;
    padding-left: 50px;
}

.apresentacao-text {
    border: 1px solid white;
    max-width: 706px;
    /* min-width: 500px; */
    padding: 20px;
    gap: 20px;
}

.apresentacao h1{
    line-height: normal;
}

#cv-buttom {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--buttom-color);
    color: var(--primary-text-color);
    margin: 40px 0 ;
    border: 2px solid var(--primary-color);
}

#cv-buttom:hover {
    border: 2px solid black;
    color: rgb(89, 100, 138);
}

section h2 {
    font-size: 2rem;
}
#about {
    background-color: var(--secondary-color);
    padding: 100px;
    text-align: justify;
    
    
}

#about div {
    /* border: 1px solid white; */
    max-width: 1200px;
    min-width: 600px;
    text-align: justify;
    
}

#projects{
    /* display: grid; */
    
}

#projects  {
    border: 1px solid white;
    max-width: 1200px;
    min-width: 600px;
    text-align: justify;
}

.projects-item {
    display: flex;


}

.projects-item img {
    width: 243px;
}

.projects-item-texto {
    /* flex-direction: column; */
}
footer {
    
}